<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Submit.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form" navbar-leftrole="search" action="/Image/ImageSearch" method="GET">
                            <input type="text" placeholder="Search" id="searchInput" value="" name="searchInput"/>
                            <button class="glyphicon glyphicon-search"></button>
                        </form>
                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Notification", "Notification", "Image")</li>
                    <li id="contactLink"><a>Contact</a></li>
                  
                </ul>
                @*<div class="box">
                    <div id="contactFormContainer">
                        <div id="contactForm">
                            <form>
                                <fieldset>



                                    <label for="Name">Name *</label>
                                    <input id="name" name="name" placeholder="What is your name?" class="name" required />
                                    <label for="Email">Email address *</label>
                                    <input id="Email" name="emailaddress" placeholder="What is your email?" class="email" type="email" required />
                                    <label for="Message">Your message *</label>
                                    <textarea id="Message" rows="4" cols="50" name="subject" placeholder="Please enter your message" class="message" required></textarea>
                                    <button id="sendMail" type="submit" name="submit">Send</button>
                                    <button onClick="closeForm2()">Close</button>
                                    <span id="messageSent">Your message has been sent successfully!</span>
                                </fieldset>
                            </form>
                        </div>
                        <div id="contactLink"></div>
                    </div>
                </div>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/BrowseJS.js"></script>
    <script src="~/Scripts/HashTag.js"></script>
    <script src="~/Scripts/AjaxSearch.js"></script>
    <script src="~/Scripts/FlickrSearchJS.js"></script>
    <script src="~/Scripts/jquery-1.2.6.min.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function(){

                $("#contactLink").click(function(){
                    if ($("#contactForm").is(":hidden")){
                        $("#contactForm").slideDown("slow");
                    }
                    else{
                        $("#contactForm").slideUp("slow");
                    }
                });

            });

            function closeForm(){
                $("#messageSent").show("slow");
                setTimeout('$("#messageSent").hide();$("#contactForm").slideUp("slow")', 2000);
            }
            function closeForm2() {
                $("#close").show("slow");
                setTimeout('$("#messageSent").hide();$("#contactForm").slideUp("slow")');
                
            }
    </script>*@
    <script src="~/Scripts/notification.js"></script>
    <script src="~/Scripts/comments.js"></script>
</body>
</html>
