@model IEnumerable<KRAM1.Models.Picture>

@*@{
        ViewBag.Title="FullImage";


    }*@

<center>
    <div class="container-narrow">
        <div class="row">
            <div class="col-sm-12 col-xs-12 box">
                <div class="image">
                    <img src="@Url.Content(ViewBag.x)" alt="Picture coming soon" style="border-bottom:20px solid black; max-width:1024px;" class=" img-thumbnail" />
                    <a href='@Url.Action("HashImg", "Image", new { fileName = @ViewBag.Hashtag.Id})'>
                        <h3 class="hashtag"><span>Hashtag: #@ViewBag.Hashtag.Name</span></h3>
                    </a>

                    <div class="pull-right">

                        <a href="~/User/Index/@ViewBag.User.Name" id="UserName">
                            @ViewBag.User.Name
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 box">
                    <i class="glyphicon glyphicon-thumbs-up">
                        @Html.ActionLink("Like", "LikedorDislikedImage", "Image", new { pictureId = @ViewBag.Id, trueOrFalse = true }, null)
                    </i>
                    <label style="background-color: lawngreen">@ViewBag.addLike</label>
                    <i class="glyphicon glyphicon-thumbs-down">
                        @Html.ActionLink("Dislike", "LikedorDislikedImage", "Image", new { pictureId = @ViewBag.Id, trueOrFalse = false }, null)
                    </i>
                    <label style="background-color: red">@ViewBag.addDislike</label>
                </div>
            </div>
        </div>
    </div>
</center>
<center>

    <ul id="commentList">
        @foreach (var comment in ViewBag.Comments)
            {// picture comments
            <li>

                <a href="~/User/Index/@comment.UserName" id="UserName" class="username-comments">
                    @comment.UserName
                </a>
                @*@if (ViewBag.User != null)
                                 {
                    <img src="@Url.Content(ViewBag.User.ProfilePic)" class="img-thumbnail pull-left" alt="Image" style=" margin:2% 2% 2% 2%;max-height:75px; max-width:75px; display:inline; border:2px solid white;" />
                             <a href='@Url.Action("Index", "User", new { Id = ViewBag.User.Id})'> </a>
                                 <a href="~/User/Index/@ViewBag.User.Id" id="UserName">
                                     @ViewBag.User.Name
                                 </a> }*@

                <p class="commentsmade">@comment.Text</p>

                <p class="datetime">@comment.TimeStamp</p>
                <br />

            </li>
        }
    </ul>
</center>
<center>
    @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
    {// picture id
        <div class="form-group">
            <b>@User.Identity.Name</b><img src="@Url.Content(ViewBag.User.ProfilePic)" class="img-responsive" alt="Image" style=" margin:2% 2% 2% 2%;max-height:50px; max-width:50px; display:inline; border:2px solid white;" />
            <textarea class="form-control" rows="5" placeholder="write comment" name="comment" id="comment"></textarea>
            <input type="hidden" value="@ViewBag.Id" name="articleCommented" id="id" />
            <input class="form-control" type="button" value="Send Comment" id="PostCommentButton" />

        </div>

    }
    @if ((bool)Session["UserIsAdmin"] == true)
            {
        @*<a href='@Url.Action("Index", "Admin", new { imageId = ViewBag.Id})'>Delete image</a>*@
        <form action="/Admin/Index" method="post">
            <input type="hidden" value="@ViewBag.Id" name="imageId" />
            <button>Delete Image</button>
        </form>
    }

</center>


