

@model IEnumerable<KRAM1.Models.Picture>

@*@{
    ViewBag.Title="FullImage";


}*@


<div class="container-narrow">
    <div class="row">
        <div class="col-sm-6 col-xs-6 box">
            <div class="image">
                <img src="@Url.Content(ViewBag.x)" alt="Picture coming soon" style="border-bottom:20px solid black; max-width:1024px;" class="img" />
                <a href='@Url.Action("HashImg", "Image", new { fileName = @ViewBag.Hashtag.Id})'>
                <h3 class="hashtag"><span>Hashtag: #@ViewBag.Hashtag.Name</span></h3>
                </a>
            </div>
            </div>
        
            @foreach (var comment in ViewBag.Comments)
            {// picture comments
                <p>@comment.Text</p>
                <p>@comment.TimeStamp, @comment.User.Name</p>
            }
            <center>
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
                {// picture id
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="write comment" name="comment"></textarea>
                        <input type="hidden" value="@ViewBag.Id" name="articleCommented" />
                        <input class="form-control" type="submit" value="Send Comment" />
                    </div>

                }
                @*<form method="post" action="AddComment">
                    
                </form>*@
            </center>
        

    </div>
</div>