@model KRAM1.Models.UserViewModel

@{
    ViewBag.Title = "Index";
}

@*@foreach (var item in Model.Pictures.Take(1))
{
<div style="background-image:url('@Url.Content(item.PicUrl)')display:block !important; position:fixed; max-height:250px; max-width:600px;margin-bottom:20px;">
    <br />
  </div>
}*@
<div class="container container-table">
    <div class="row vertical-center-row" >
             @if (Model.ProfilePic != null)
                 {
                <img src="@Url.Content(Model.ProfilePic)" class="img-thumbnail picture_mob" />
                <h3 style="font-family: 'Tangerine', serif; font-size:50px;z-index:20;">@Html.DisplayFor(model => model.UserName)</h3>
                  }
            <div class="header" style="display:block;">
            <h3>Info User</h3><p>
                    <strong>E-mail</strong>: @Html.DisplayFor(model => model.UserEmail)<br />
                    <strong>Total Likes</strong>: @Html.DisplayFor(model => model.TotalLikes)<br />
                    <strong>Total Dislikes</strong>: @Html.DisplayFor(model => model.TotalDislikes)
                </p>
                <p id="LoadmyImages" style="margin-left:20px">Load my Images</p><br />
                <br />
                <br />
               @if(Model.IsOwner == true)
                {
                    <button id="hideshowfile" class="astext">Upload Profile photo</button>
                }
            </div>

        </div>
    </div>





            <hr style="margin-top:-21px;" />
            <div class="row nav" id="profilediv">


                <div class="col-md-4"></div>
                <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">

                    @if (Model.IsOwner == true)
                    { <div id='SubmitFileShow' style="visibility:hidden">
                          <p>Please use an image under 10mb. It will be resized to 250px height and width.</p>

                        <form action="/Image/UpdateProfile" method="post" enctype="multipart/form-data" accept="image/*">
                            <div class="form-group">

                                <div class="col-md-10">
                                    <label class="custom-file-upload" style="background-color:transparent;">Change profile picture</label>
                                    <input type="text" name="imgurl" placeholder="img url" id="imgurl" class="custom-file-upload" /><br />
                                </div>
                            </div>
                            <img src="" style="display:none; max-width:250px; max-height:250px; " id="browseimg" />
                            <p id="filename" style="font-size:10px;"></p>
                            <label>
                            </label>

                            <label class="custom-file-upload" for="file" style="background-color:transparent !important;">
                                Upload profile picture:
                                <input type="file" name="file" id="file" class="custom-file-upload" style="background-color:transparent !important;" />
                            </label><br />
                            <input type="submit" class="pull-right" value="Save Changes">
                        </form>
                    </div>
                    }
                    <br />
                    <br />
                
        </div>
    </div>

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
        <div class="col-md-8  col-xs-12">

        

            <!-- SIDEBAR USERPIC -->
  

                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="posts-wrapper" class="middiv" style="display:none;">
                    <div class="col-lg-12" style="display:inline;">
                        @if (Model.Pictures != null)
                        {<ul>
                            @foreach (var item in Model.Pictures)
                            {
                                    <li style="display:inline-block;">
                                    <a href='@Url.Action("FullImage", "Image", new { fileName = @item.Id})'>
                                        <img src="@Url.Content(@item.PicUrl)" class="img-responsive" id="galleryimage"alt="Image"  />
                                    </a>
                                    <br />
                                    @if (Model.IsOwner == true)
                                    {
                                        <a href='@Url.Action("Delete", "Image", new { Id = @item.Id })' style="display:inline-block;">Delete</a>
                                    }
                                </li>
                            }
                        </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
